<% if @football_pitch_items.any? %>
  <div class="container grid grid-cols-4 gap-4">
    <%= render @football_pitch_items %>
  </div>
<% else %>
  <div class="p-2 bg-red-500 text-center font-bold text-white w-full"><%= t "football_pitch.not_found"%></div>
<% end %>
<div class="flex justify-center items-center my-5">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
