/* forms */
#error_explanation {
  color: red;
  ul {
    color: rgb(216, 116, 116);
    margin: 0 0 30px 0;
  }
}

/* Dropdown menu */
#dropdown ul li a{
  text-decoration: none;
}

.alert{
  position: fixed !important;
  right: 20px;
  top: 100px;
}
